{%- extends "base.html" -%}

{% block title %}Page not found - {{ super() }}{% endblock title %}

{% block description %}The requested page does not exist.{% endblock description %}

{% block og_title %}Page not found - {{ super() }}{% endblock og_title %}

{% block og_desc %}The requested page does not exist.{% endblock og_desc %}

{# empty values so 404.html template doesn't break #}
{% block og_url %}{% endblock og_url %}
{% block canonical_url %}{% endblock canonical_url %}

{%- block content -%}
<main>
    <h1 id="page-title">Page not found</h1>
    The requested page does not exist. If you think this is a mistake, please <a href="{{ config.extra.github_repo }}/issues" target="_blank">report an issue</a>.
</main>
{%- endblock content -%}