<header>
    <nav id="site-menu">
        <ul>
            <li><a href="https://grapheneos.org/"><img src="/mask-icon.svg" alt=""/>GrapheneOS</a></li>
            <li><a href="https://grapheneos.org/features">Features</a></li>
            <li><a href="https://grapheneos.org/install/">Install</a></li>
            <li><a href="https://grapheneos.org/build">Build</a></li>
            <li><a href="https://grapheneos.org/usage">Usage</a></li>
            <li><a href="https://grapheneos.org/faq">FAQ</a></li>
            <li><a href="https://grapheneos.org/releases">Releases</a></li>
            <li><a href="https://grapheneos.org/source">Source</a></li>
            <li><a href="https://grapheneos.org/history/">History</a></li>
            <li><a href="https://grapheneos.org/articles/">Articles</a></li>
            <li><a href="https://grapheneos.org/donate">Donate</a></li>
            <li><a href="https://grapheneos.org/contact">Contact</a></li>
            <li aria-current="page"><a href="{{ get_url( path="@/_index.md" ) }}">Blog</a></li>
        </ul>
    </nav>
</header>
