{%- extends "base.html" -%}

{%- block content -%}
{%- set root_section = get_section( path="_index.md" ) -%}
<main>
    {{ section.content | safe }}
    <br>
    <div>
        {%- for p in root_section.subsections -%}
            {%- set subsection = get_section( path=p ) -%}
                {%- if subsection.pages | length > 0 -%}
                    <h2><a href="{{ subsection.permalink }}">{{ subsection.title }}</a></h2>
                    <ul>
                        {%- for page in subsection.pages -%}
                            <li><a href="{{ page.permalink }}">{{ page.title }}</a></li>
                            {# Seems indexes start at 1 #}
                            {%- if loop.index == 5 %}{% break %}{% endif -%}
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
        {%- endfor -%}
    </div>
</main>
{%- endblock content -%}
