{%- extends "base.html" -%}

{%- block content -%}
<main>
    <h1>{{ section.title | safe }}</h1>
    {{ section.content | safe }}

    <h2>Articles:</h2>

    <div class="article-list">
        {%- for page in paginator.pages -%}
            <div class="article-card">
                <a href=" {{ page.permalink | safe }}">
                    <span class="article-title">{{ page.title }}</span>
                    <span class="article-date">
                        {%- if page.updated -%}
                        updated {{ page.updated | date }}
                        {%- else -%}
                        {{ page.date | date}}
                        {%- endif -%}
                    </span>
                    <span class="article-description">{{ page.description }}</span>
                </a>
            </div>
        {%- endfor -%}
    </div>
    {% if paginator.previous or paginator.next %}
    <nav class="pagination">
        {% if paginator.previous %}
            <a class="pagination-previous" href="{{ paginator.previous | safe }}">‹ Previous</a>
        {% endif %}
        {% if paginator.next %}
            <a class="pagination-next" href="{{ paginator.next | safe }}">Next ›</a>
        {% endif %}
    </nav>
    {% endif %}
</main>
{%- endblock content -%}
