{%- extends "base.html" -%}

{% block title %}{{ page.title }} - {{ super() }}{% endblock title %}

{% block description %}{{ page.description }}{% endblock description %}

{% block og_title %}{{ page.title }}{% endblock og_title %}

{% block og_desc %}{{ page.description }}{% endblock og_desc %}

{%- block content -%}
<main class="blog-post">
    <a href="{{ get_url( path="@/_index.md" ) }}">‹ all posts</a>
    <h1 id="page-title">{{ page.title }}</h1>
    {% if page.updated is defined and page.updated -%}
    <em><time>{{ page.date | date }}</time> (updated on <time>{{ page.updated | date }}</time>)</em>
    {% else %}
    <em><time>{{ page.date | date }}</time></em>
    {% endif -%}
    {{ page.content | safe }}
    {% if page.higher %}
    <hr>
    <nav class="pagination">
        <div class="pagination-next">
            Next post: <a href="{{ page.higher.path }}">{{ page.higher.title }}</a>
        </div>
    </nav>
    {% endif %}
</main>
{%- endblock content -%}