{%- extends "base.html" -%}

{% block title %}{{ section.title }} - {{ super() }}{% endblock title %}

{% block description %}{{ section.description }}{% endblock description %}

{% block og_title %}{{ section.title }}{% endblock og_title %}

{% block og_desc %}{{ section.description }}{% endblock og_desc %}

{%- block content -%}
<main>
    {%- include "breadcrumbs.html" -%}
    <h1>{{ section.title | safe }}</h1>
    {{ section.content | safe }}

    <div class="article-list">
        {%- for page in section.pages -%}
            <div class="article-card">
                <span class="article-title">
                    <a href="{{ page.permalink }}">
                        {{ page.title }}
                    </a>
                </span>
                <div class="article-date">
                    {%- if page.updated -%}
                    updated {{ page.updated | date }}
                    {%- else -%}
                    {{ page.date | date}}
                    {%- endif -%}
                </div>
                <p class="article-description">{{ page.description }}</p>
            </div>
        {%- endfor -%}
    </div>
</main>
{%- endblock content -%}
