{%- extends "base.html" -%}

{% block title %}{{ section.title }} - {{ super() }}{% endblock title %}

{% block description %}{{ section.description }}{% endblock description %}

{% block og_title %}{{ section.title }}{% endblock og_title %}

{% block og_desc %}{{ section.description }}{% endblock og_desc %}

{%- block content -%}
<main>
    {{ section.content | safe }}

    <div>
        <h2>Recent articles:</h2>
        <ul>
            {%- for page in section.pages -%}
                <li><a href="{{ page.permalink }}">{{ page.title }}</a> <em>({{ page.date | date }})</em></li>
            {%- endfor -%}
        </ul>
    </div>
</main>
{%- endblock content -%}
